// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cat{
	.card-title{
	color: orangered;
	}
	.texts{
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	}
}

.art-1{
	height: 60vh;
}
.cat-foot{
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  flex-wrap: wrap;
	height: 30vh;
	.cats{
		
	}
}
.categories{
	display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: no-wrap;
  .catext{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  }
}