// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cat{
	.card-title{
	color: orangered;
	}
	.texts{
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	.card-title{
	font-size: 30px;
	}
	}
}

.art-1{
	height: 60vh;
	filter: brightness(80%);
}

.categories{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: no-wrap;
  .card-img{
  	height: 100%;
  	filter: brightness(50%);
  }
  .catext{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	color: #fff;
  	.card-title{
  	font-weight: 600;
  	font-size: 22px;
  	text-decoration: underline;
  	text-decoration-color: yellow;
  	}
  	.card-text{
  	font-size: 12px;
  	}
  }
}