<div class = 'container-fluid'>
  <div class= 'row'>
    <div class= 'col sm-12 main-img p-0'>
      <%= image_tag(@liked_article.image ? @liked_article.image.url : '', class: 'img') %> 
      <div class="bottom-left-main">
      <h6 id= 'current' class= 'font-weight-bold ml-3'><%= @liked_article.title ? @liked_article.title : '' %></h6>
      <p class= 'text-white font-weight-bold ml-3'><%= @liked_article.text ? @liked_article.text : '' %></p>
      </div> 
    </div>
  </div>
</div>