<footer class="footer">
  <div class="logo">
    <a href="#">Sporf</a>
  </div>
  <div class="first">
    <ul>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li class='copy'>Copyright 2014. All rights reserved</li>
    </ul>
  </div>
  <div class="second">
    <ul>
      <li>Connect with us: </li>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </div>
</footer>